<header>
  <nav class="bg-white dark:bg-gray-800 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">
      <div class="flex items-center justify-between">

        <div class="flex items-center space-x-8">
          <div class="shrink-0">
            <a href="/admin" style="text-decoration: none;" title="" class="">
              <h2>Handy Kart</h2>
            </a>
          </div>

          <ul class="hidden lg:flex items-center justify-start gap-6 md:gap-8 py-3 sm:justify-center">
            <li>
              <a href="/admin" title="" style="text-decoration: none;"
                class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                Products
              </a>
            </li>
            <li class="shrink-0">
              <a href="/admin/admin_orders" title="" style="text-decoration: none;"
                class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                Orders
              </a>
            </li>
            <li class="shrink-0">
              <a href="/admin/admin_customers" title="" style="text-decoration: none;"
                class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                Customers
              </a>
            </li>
             <li class="shrink-0">
              <a href="/admin/add_product" title="" style="text-decoration: none;"
                class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                Add Product
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>