<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center bg-gradient bg-secondary mt-2 text-white rounded shadow">
                <h1>order success</h1>
                <a href="/orders" class="btn btn-primary mb-2">View Orders</a>
            </div>
        </div>
    </div>
</div>